.About_Hero {
    margin: 0;
    vertical-align: middle;
    line-height: 1.5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.055), rgba(0, 0, 0, 0.322)), url('../img/Ichigo.webp');
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    color: #fff;
}

.About_Hero .About_inner p {
    max-width: 920px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.349);
    box-shadow: 5px 5px 15px rgba(222, 184, 135, 0.747);
    margin: 20px auto;
    transition: all .9s;
}
.About_Hero .About_inner p:hover {
    transform: translateY(-3px) scale(.999);
    background-color: rgba(0, 0, 0, 0.096);
    box-shadow: 5px 5px 1px rgba(222, 184, 135, 0.747);
}

.skills .progress {
    max-width: 400px;
    margin: 20px auto;
    background-color: #8c7775;
    height:20px;
}